section.wishes-overview {

    .section-container {
        flex-direction: column;
    }
    
    .add-wish {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 80px 20px 20px 20px;
        padding: 20px;
        border-radius: 10px;
        background-color: var(--color-bg-light);
        border: 1px solid var(--color-grey);
        cursor: pointer;
        transition: box-shadow 0.2s;
        
        &:hover {
            box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
        }
        
        &:focus {
            outline: 2px solid var(--color-blue);
            outline-offset: 2px;
        }
        
        span {
            margin-left: 20px;
            margin-bottom: 0px;
        }
    }
}
