header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--color-bg-dark);
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 100px;

    .header_logo {
        width: 50px;
        height: 50px;
        background: url(../../../public/img/logo-taverne.png) no-repeat center center/cover;
        margin-left: 50px;
    }

    .header_title {
        display: flex;
        align-items: center;
    }

    h1 {
        color: var(--color-primary);
        padding: 20px;
        font-weight: 500;
        font-size: 1.8rem;
    }

    nav {

        ul {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            height: 100%;
        }

        li {
            list-style: none;
            margin-right: 50px;
        }

        a {
            text-decoration: none;
            color: #fff;
            font-size: larger;
            letter-spacing: 2px;
            align-items: center;
            display: flex;
        }
        .icon {
            margin-right: 10px;
            color: var(--color-text);
        }
        li:hover a,
        li:hover .icon {
            color: var(--color-primary);
        }
        
        .active,
        .active .icon {
            color: var(--color-primary);
        }
        
        .header-space {
            height: 100px;
        }
    }
}