footer {
    background-color: var(--color-primary);
    padding: 20px 0;
    text-align: center;
    width: 100%;
    margin-top: 100px;
    
    .footer-content {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
    
        .col {
            width: 25%;
            display: flex;
            flex-direction: column;
            align-items: center;
            
            h3,
            h4 {
                padding: 10px 0 0 0;
                color: #ffffff;
            }
            
            a {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 2px;
                margin-top: 10px;
            }
            
            a:hover {
                color: #ffffff;
                cursor: pointer;
            }
            
            .icon {
                margin-right: 10px;
            }
        }
    }
}
