* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 0.3s ease-in-out;

  /* colors palette */
  --color-bg: #202020;
  --color-bg-dark: #202020;
  --color-bg-light: #ffffff;
  --color-text: #606060;

  --color-gray: #f0f0f0;
  --color-grey: #e0e0e0;
  
  --color-primary: #70c491;
  --color-primary-light: #d8ffd8;

  --color-red: #e09797;
  --color-red-light: #ffd8d8;
  --color-blue: #97bde0;
  --color-blue-light: #d8e9ff;
  --color-yellow: #e0d597;
  --color-yellow-light: #fff9d8;
}

::selection {
  background-color: var(--color-primary);
  color: #ffffff;
}

body {
  margin: 0;
  font-family: Poppins, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--color-bg);
}

/* fonts */

h1, h2, header a,
footer h3, footer h4 {
  font-family: 'Cinzel';
}

h2 {
  font-weight: 500;
}
h3 {
  padding: 20px;
  display: flex;
  justify-content: center;
  color: var(--color-text);
  font-size: 1.3rem;
  font-weight: 400;
}
h4 {
  color: var(--color-primary);
  font-size: 1.1rem;
  font-weight: 400;
}
p, a, span, label {
  color: var(--color-text);
}
a {
  text-decoration: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.text-red {
  color: var(--color-red);
}
.text-blue {
  color: var(--color-blue);
}
.text-yellow {
  color: var(--color-yellow);
}
.text-green {
  color: var(--color-primary);
}
.text-grey {
  color: var(--color-grey);
}

.blue {
  background-color: var(--color-blue-light);
  --color-card: var(--color-blue);
}
.red {
  background-color: var(--color-red-light);
  --color-card: var(--color-red);
}
.yellow {
  background-color: var(--color-yellow-light);
  --color-card: var(--color-yellow);
}


.icon-primo {
  background: url("/public/img/icons/primogem.webp") no-repeat center 50%/cover;
  width: 30px;
  height: 30px;
}
.icon-interfate {
  background: url("/public/img/icons/intertwined_fate.webp") no-repeat center 50%/cover;
  width: 30px;
  height: 30px;
}
.icon-fr {
  background: url("/public/img/icons/fr.png") no-repeat center 50%/cover;
  width: 30px;
  height: 30px;
}
.icon-uk {
  background: url("/public/img/icons/uk.png") no-repeat center 50%/cover;
  width: 30px;
  height: 30px;
}

hr {
  margin: 20px 40px;
  width: 60%;
  border: 1px solid var(--color-grey);
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
}